<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a API animals</title>
</head>
<body>
    <h1>API Animals</h1>
    <p>Para consultar el sonido de cada animal, use el endpoint correspondiente:</p>
    <ul>
        <li><a href="https://tallerfinal-avelandiao.vercel.app/animal/perro">/animal/perro</a></li>
        <li><a href="https://tallerfinal-avelandiao.vercel.app/animal/gato">/animal/gato</a></li>
        <li><a href="https://tallerfinal-avelandiao.vercel.app/animal/huron">/animal/huron</a></li>
        <li><a href="https://tallerfinal-avelandiao.vercel.app/animal/boa_constrictor">/animal/boa_constrictor</a></li>
    </ul>
</body>
</html>