<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a API animals</title>
</head>
<body>
    <h1>API Animals</h1>
    <p>Para consultar el sonido de cada animal, use el endpoint correspondiente:</p>
    <ul>
        <li><a href="http://127.0.0.1:5000/animal/perro">http://127.0.0.1:5000/animal/perro</a></li>
        <li><a href="http://127.0.0.1:5000/animal/gato">http://127.0.0.1:5000/animal/gato</a></li>
        <li><a href="http://127.0.0.1:5000/animal/huron">http://127.0.0.1:5000/animal/huron</a></li>
        <li><a href="http://127.0.0.1:5000/animal/boa_constrictor">http://127.0.0.1:5000/animal/boa_constrictor</a></li>
    </ul>
</body>
</html>